language: php
php:
  - '7.2'

cache:
  directories:
    - $HOME/.composer/cache

env:
  global:
    - COMPOSER_ARGS="--no-interaction"
    - COVERAGE_DEPS="php-coveralls/php-coveralls"

install:
  - travis_retry composer install $COMPOSER_ARGS
  - travis_retry composer require --dev $COMPOSER_ARGS $COVERAGE_DEPS
  - stty cols 120 && composer show

script:
  - composer test-coverage
  - composer cs-check

after_script:
  - travis_retry php vendor/bin/php-coveralls -v

notifications:
  email: false
